{
  "extends": [
    "airbnb-base",
    "plugin:astro/recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": [
        "*.mjs",
        "*.cjs"
      ],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "global-require": "off"
      }
    },
    {
      "files": [
        "*.astro"
      ],
      "plugins": [
        "@typescript-eslint",
        "unused-imports",
        "tailwindcss",
        "simple-import-sort"
      ],
      "extends": [
        "plugin:tailwindcss/recommended",
        "airbnb-typescript/base",
        "plugin:astro/jsx-a11y-recommended",
        "plugin:prettier/recommended"
      ],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "project": "tsconfig.json",
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [
          ".astro"
        ]
      },
      "rules": {
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "warn",
          {
            "vars": "all",
            "varsIgnorePattern": "^_",
            "args": "after-used",
            "argsIgnorePattern": "^_"
          }
        ]
      }
    }
  ]
}
